.survey {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}
.section {
  display: flex;
  flex-direction: row
}

.prefix {
  min-width: 100px;
  flex-basis: 100px
}

.description {

}

footer {
  margin-top: 5rem;
  text-align: left;
  font-style: italic;
}

