/*.expression:nth-child(2n) {
    background-color: WhiteSmoke;
}/*/

.expression {

}

.relevant{
    background-color: rgba(179, 248, 135, 0.5) !important;
    filter: saturate(100%);
}
.irrelevant{
    background-color: rgba(239, 130, 118, 0.5) !important;
    filter: saturate(100%);
}

.relevanttext{
    color: rgb(42, 114, 3) !important;
    filter: saturate(100%);
}
.irrelevanttext{
   color: rgb(248, 39, 6) !important;
    filter: saturate(100%);
}

/*.expressiontitle{
    color: blue;
}*/

/*.expressionheading{
   width : 20%;
   margin-right: 200px;
}*/

.worktitle{
    color: dimgray;
    font-style: italic;
}

.creatorname{
    color: dimgray;
    font-size: smaller;
}

.related {
    display: list-item;
    color: dimgray;
    font-size: smaller;
}

.selected {
    display: list-item;          /* This has to be "list-item"                                               */
    /*list-style-type: '\2714\0020';   */   /* 2714   2705  */
    list-style-image:url('../checkmark.svg');
    list-style-position: outside;
    align-content: center;
    /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
}

.expressionManifestationListing{
    padding-left: 25px;
    padding-top: 5px;
}

.expression{
    background-color: WhiteSmoke;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    min-height: 110px;
}

.expressionLeft{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    flex-basis: auto;
}

.expressionRight{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.expressionHeader{
    padding-left: 25px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
}

.expressionHeaderTitle{

}

.expressionHeaderTypes{
    padding-left: 0px;
    flex-basis: 5%
}

.role+.role::before{
    content: " ; ";
}

.rankingbuttons{
    display: flex;
    flex-direction: column;
}

.manifestation {
    padding-left: 0;
    margin-bottom: 5px;
}

.manifestationlist{
    padding-left: 0;
    margin-left: 0;
    text-indent: 0;
}

.manifestationdetails{
    text-align: left;
}

.manifestationdetails > .manifestationdetails:not(:first-child)::before{
    content: " - ";
}

.prefix{
    font-style: italic;
}

.contents > .content:not(:last-child)::after{
    content: " ; ";
}

/*details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content:"<";
    transform:rotate(90deg)
}

details[open] > summary::before {
    content: '>';
}*/



/*details > summary {
    list-style-type: '> ';
}

details[open] > summary {
    list-style-type: '< ';
}*/

/*details {
    border: 1px solid gray;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

details[open] > summary {
    margin-bottom: 0.5rem;
}*/

